name: Docker Image CI

on:
  push:
    branches: ['*', '!update-*-to-*', '!IBC-update*']
  pull_request:
    branches: ['master', '!update-*-to-*', '!IBC-update*']

jobs:
  build:
      name: Build image
      strategy:
        matrix:
          channel: ['stable', 'latest']
      uses: gnzsnz/ib-gateway-docker/.github/workflows/build.yml@master
      with:
          channel: ${{ matrix.channel }}
